.scrolling-belt-container {
    position: relative;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
}

.scrolling-belt {
    position: absolute;
    width: 120%;
    pointer-events: none;
    overflow: hidden;
}

.belt1,
.belt2 {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 40%;
}

.belt1 {
    transform: translate(-50%, -50%) rotate(-18deg);
    background-color: var(--secondary-background-color);
    border-top: 2px solid var(--tertiary-text-color);
    border-bottom: 2px solid var(--tertiary-text-color);
    z-index: 2;
}

.belt2 {
    transform: translate(-50%, -50%) rotate(18deg);
    border-top: 2px solid var(--secondary-background-color);
    border-bottom: 2px solid var(--secondary-background-color);
}

.belt-content {
    display: inline-flex;
    white-space: nowrap;
    width: 300%;
    animation: scroll-left 10s linear infinite;
    font-size: 3.7rem;
    font-family: road-radio-bold;
    color: var(--tertiary-text-color);
}

@media screen and (min-width: 425px) {
    .belt1 {
        transform: translate(-50%, -50%) rotate(-14deg);
    }

    .belt2 {
        transform: translate(-50%, -50%) rotate(14deg);
    }
}

@media screen and (min-width: 600px) {
    .belt1 {
        transform: translate(-50%, -50%) rotate(-10deg);
    }

    .belt2 {
        transform: translate(-50%, -50%) rotate(10deg);
    }

    .belt-content {
        animation: scroll-left 30s linear infinite;
    }
}

@media screen and (min-width: 768px) {
    .belt1 {
        transform: translate(-50%, -50%) rotate(-8deg);
    }

    .belt2 {
        transform: translate(-50%, -50%) rotate(8deg);
    }

    .belt-content {
        font-size: 4.7rem;
    }
}

@media screen and (min-width: 950px) {
    .belt1 {
        transform: translate(-50%, -50%) rotate(-6deg);
    }

    .belt2 {
        transform: translate(-50%, -50%) rotate(6deg);
    }
}

@media screen and (min-width: 1024px) {
    .belt-content {
        animation: scroll-left 40s linear infinite;
    }
}

@media screen and (min-width: 1440px) {
    .belt-content {
        font-size: 5.7rem;
    }
}

@media screen and (min-width: 2560px) {
    .belt-content {
        animation: scroll-left 60s linear infinite;
    }
}

.belt-content span {
    display: inline-block;
    padding-right: 2rem;
}

.belt2 span {
    color: var(--secondary-background-color);
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
