section.hero {
    text-align: center;
}

.heading-text {
    font-family: tuskgrotesk;
    font-size: 4.5rem;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .heading-text {
        font-size: 7rem;
    }
}

@media screen and (min-width: 1024px) {
    .heading-text {
        font-size: 9rem;
    }
}

@media screen and (min-width: 1440px) {
    .heading-text {
        font-size: 11rem;
    }
}

.content {
    font-family: road-radio-thin;
    font-weight: 600;
    line-height: 1.3rem;
}

.hero-p {
    max-width: 800px;
    margin: 3vh auto;
    margin-bottom: 4vh;
}

.products-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 4vh;
}

@media screen and (min-width: 768px) {
    .products-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .products-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.discover .content {
    max-width: 350px;
}

.discover button {
    background-color: var(--primary-text-color);
    color: var(--tertiary-text-color);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    height: 32px;
}

@media screen and (min-width: 768px) {
    .discover {
        display: flex;
        justify-content: space-between;
        margin-top: -14vh;
    }

    .discover button  {
        margin-top: 2vh;
    }
}

.limited-editions {
    text-align: center;
}

.limited-editions .heading-text {
    font-size: 6rem;
}